.footcontainer{
    max-width: 1170px;
    margin: auto;
}

.footrow{
    display: flex;
    flex-wrap: wrap;
}

.footcol ul{
    list-style: none;
}

.footer{
    background: #24262b;
    padding: 70px 0;
}

.footcol{
    width: 25%;
    padding: 0 15px;
}
.footcol input{
    border-radius: 10px;
    position: relative;
    bottom: 80px;
}

.footcol button{
    border-radius: 10px;
    position: relative;
    bottom: 50px;
    font-size: medium;
    text-transform: capitalize;
}

.footcol h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footcol h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footcol ul li:not(:last-child){
    margin-bottom: 10px;
}

.footcol ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    position: relative;left: -30px;
    transition: all 0.3s  ease;
}

.footcol ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footcol .footicons .footsocialicons{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-attachment: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footcol .footicons .footsocialicons:hover{
    color: #24262b;
    background-color: #ffffff;
}

/* responsive */

@media(max-width:1000px){
    .footcol{
        width: 50%;
        margin: 30px;
    }

    .footcol button{
        border-radius: 10px;
        position: relative;
        bottom: 0px;
        left: -150px;
        font-size: medium;
        text-transform: capitalize;
    }
    .footcol input{
        border-radius: 10px;
        position: relative;
        bottom: 60px;
      
        font-size: medium;
        text-transform: capitalize;
    }
    
}

@media(max-width:900px){
    .footcol{
        width: 50%;
        margin: 30px;
    }

    .footcol button{
        border-radius: 10px;
        position: relative;
        bottom: 0px;
        left: -150px;
        font-size: medium;
        text-transform: capitalize;
    }
    .footcol input{
        border-radius: 10px;
        position: relative;
        bottom: 60px;
      
        font-size: medium;
        text-transform: capitalize;
    }
    
}



@media(max-width:800px){
    .footcol{
        width: 100%;
    }
    .footcol button{
        border-radius: 10px;
        position: relative;
        bottom: -10px;
        left: -200px;
        font-size: medium;
        text-transform: capitalize;
    }
    .footcol input{
        border-radius: 10px;
        position: relative;
        bottom: 40px;
      
        font-size: medium;
        text-transform: capitalize;
    }
}



@media(max-width:574px){
    .footcol{
        width: 100%;
    }
    .footcol button{
        border-radius: 10px;
        position: relative;
        bottom: 0px;
        left: -250px;
        font-size: medium;
        text-transform: capitalize;
    }
    .footcol input{
        border-radius: 10px;
        position: relative;
        bottom: 60px;
      
        font-size: medium;
        text-transform: capitalize;
    }
}